<div class="container">

        <div class="d-flex justify-content-between">
            <h1>cesta</h1>
            {{#if cesta}}
                <div class="col-xl-2 col-sm-3 align-self-center">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="bek-moneda">Moneda:</label>
                        <select class="form-select" id="bek-moneda">
                            <option selected value="UAH">UAH</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                </div>
            {{/if}}
        </div>
    {{#if cesta}}


    <div id="cestaContent">
        {{#each cesta}}
            <div class="row col-xl-8 col-sm-12 d-flex bek-cesta-unidad mx-auto align-items-center border-bottom border-2 border-dark pb-2 pt-3 justify-content-center">
                <img src="{{{producto.ruta_img}}}" alt="{{{nombre}}}" class="col-2">
                <div class="col-3">{{{producto.nombre}}}</div>


                <div class="col-2 d-flex align-items-center" id="cantidad{{{id}}}">
                    <span class="bek-btn-mas-menos border border-2 rounded-circle border-danger fs-3 d-flex align-items-center justify-content-center bek-menos" data-but="menos">
                        <span>
                            -
                        </span>
                    </span>
                    <span class="bek-cantidad">
                        {{{cantidad}}}
                    </span>un.
                    <span class="bek-btn-mas-menos border border-2 rounded-circle border-success fs-3 d-flex align-items-center justify-content-center bek-mas" data-but="mas">
                        <span>
                            +
                        </span>
                    </span>
                </div>
                
                <div class="col-2" id="precio{{{id}}}">por:<span class="card-precio bek-precio" data-id="{{{producto.id}}}">{{{producto.precio}}}</span></div>
                <div class="col-2">total:<span class="bek-sub-total card-precio" id="sub_total_{{id}}"></span></div>
            </div>
        {{/each}}
    </div>

    <div class="text-end col-xl-6 col-sm-11 mx-auto">
        total:<span class="bek-total-cesta card-precio"></span>
    </div>

    {{else}}
        <p>esta vacia</p>
    {{/if}} 
</div>